{% extends 'base.html.twig' %}

{% block title %} Bénévolat & Missions Gratuites {% endblock %}

{% block section %}
<div class="container">
<h1 class="text-warning text-center py-5">BÉNÉVOLAT</h1>
<div class="row">
    <div class="col-12 col-md-4"><img src="{{ asset('images/entraide.png')}}" alt="" class="img-fluid"></div>
    <div class="col-12 col-md-8">
        <h2>PROFITE D’UNE VÉRITABLE COMMUNAUTÉ D’ENTRAIDE !</h2>
        <hr>
        <p>Sur Mon Voisin d'accoté, tu as la possibilité de solliciter l’aide bénévole de tes Voisins quand tu es dans le besoin ou pour partager des activités sportives et des loisirs.
            Il suffit pour cela de poster une mission bénévole sur le site. </p>
        <p>A l’inverse, si tu souhaites proposer ton aide bénévolement à tes voisins, rends-toi sur ton Profil Mon Voisin d'accoté dans l’application et active l’option «Bénévolat», tu seras alerté en temps réel des missions bénévoles autour de toi.</p>

    </div>
</div>

</div> 
{% endblock %}

