{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}


    <h1>Liste des utilisateurs</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Annonces</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for user in user %}
            <tr>
                <td>{{ user.id}}</td>
                <td>{{ user.email}}</td>
                <td>
                {% for roles in user.roles %}
                {% if roles == 'ROLE_USER '%}
                Utilisateur
                
                {% elseif roles == 'ROLE_ADMIN '%}
                Administrateurs
                {% elseif roles == 'ROLE_SUPER_ADMIN '%}
                Super Administrateurs
                    {% endif %}
                    {% endfor %}</td>
                <td>{{ user.userannonce|length}}</td>
                <td><a href="{{path('admin_modifier_utilisateur', {'id': user.id})}}" class="btn btn-warning">Modifier</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="=5"> Il n'ya pas d'utilisateur inscrit

                </td>
            </tr>
            {% endfor %}</td>
        </tbody>
    </table>
</div>
{% endblock %}
